@use "../abstracts" as *;
@use "../base" as *;

@use "../components/header";
@use "../components/footer";
@use "../components/product";
@use "../components/cart";


section.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;

    table {
        padding: 1em;
    }

    nav h1 {
        font-size: 18px;
        margin: 1.5em 0em;
    }

    div.info-cart {
        display: flex;
        justify-content: flex-end;
    }

    div.cart-buttons {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1em;
        margin: 1em 0em;
        button {
            padding: 1em;
            color: black;
            background-color: var(--primary-1);
            transition: all 0.3s ease-in-out;
            border-radius: 4px;

            &:hover {
                background-color: var(--primary-2);
            }
        }
    }

    div.checkout {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        div.cart-total {
            table, td, th {
                padding: .5em 1em;
                margin : 0;

                ul {
                    display: flex;
                    flex-direction: column;
                    row-gap: 1em;

                    li {
                        display: flex;
                        column-gap: 1em;
                    }
                }


            }
        }
    }
}