@use "../abstracts" as *;
@use "../base" as *;

@use "../components/header";
@use "../components/footer";
@use "../components/product";
@use "../components/cart";


section.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;

    th {
        font-weight: 100;
    }
    
    h1.page-title {
        margin-top: 2rem;
        font-size: 2em;
    }

    p.content-page {
        margin: 1rem;
        font-size: 1.5em;
        text-align: center;
    }

    div.cart-items-container {
        display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 3em;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    section.info-cart {

        div.cart-buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            button {
                margin: 2em;
                padding: 0.5em 1em;
                font-size: 1.1em;
                background-color: var(--primary-1);
                color: var(--secondary-1);
                border: none;
                border-radius: 0.5rem;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: var(--primary-2);
                }
            }
        }
    }
}