@use "../abstracts" as *;
@use "../base" as *;

@use "../components/header";
@use "../components/footer";

section.container {
    display: flex;
    align-items: center;
    flex-direction: column;

    div.clientsupp {
        background-color: var(--primary-1);
        border-radius: 15px;
        width: 40%;
        margin-top: 5vh;
        padding: 2.5vh;


        h1 {
            text-align: center;
            font-size: 2em;
            margin-bottom: 2vh;

        }

        p {
            font-size: 1.2em;
        }

        button {
            padding: 10px 20px;
            border-radius: 5px;
            background-color: var(--primary-1);
            color: var(--secondary-2);
            font-weight: bold;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: var(--primary-2);
            }
        }
    }
}