@use "../abstracts" as *;
@use "../base" as *;

@use "../components/header";
@use "../components/footer";

main {
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.error {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	padding: 2em;
	gap: 5em 3em;
	
	img {
		@include size(192px);
	}

	.extras {
		font-weight: 100;
		color: var(--secondary-1);
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		row-gap: .5em; 

		@include media(s) {
			align-items: center;
		}
	}

}