@use "../abstracts" as *;
@use "../base" as *;

@use "../components/header";
@use "../components/footer";
@use "../components/product";
@use "../components/filter";


main {
	--gap : 1em;


	.banner {
		position: fixed;
		z-index: -1;
		top: 0;
		left: 0;

		img {
			width: 100vw;
		}
	}

	.filter {
		position: sticky;
		top: 0;
		border-bottom: 5px solid var(--primary-2);
		margin-top: calc( 31vw - 92px);
	}

	.products {
		border-bottom: 5px solid var(--primary-2);
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 3em;
		background-color: var(--primary-1);
		padding: 6em 0 6em 0;
	}
}
