@use "../abstracts" as *;
@use "../base" as *;

@use "../components/header";
@use "../components/footer";

main {
	width: 95%;
	display: flex;
	flex-direction: column;
	align-self: center;
	gap: 2em;
}

.product {
	display: flex;
	width: 100%;
	gap: 3em;
	margin: 3em auto;

	@include media(m) {
		flex-direction: column;
	}
}

.generalImage {
	display: flex;
	gap: .8em;
	width: 50%;

	.firstimage {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			aspect-ratio: 1/1;
		}
	}

	.secondimage {
		display: flex;
		flex-direction: column;
		gap: inherit;
		justify-content: center;
		width: 25%;

		div {
			overflow: hidden;
			flex-grow: 1;

			display: flex;
			align-items: center;
			justify-content: center;

			img {
				object-fit: contain;
				max-width: 100%;
				aspect-ratio: 1/1;
				max-height: 100%;
			}
		}

	}

	@include media(m) {
		width: 90%;
	}
}

.information {
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 1em;

	h1 {
		font-size: xx-large;
	}

	.diferentestyleimage {
		display: flex;
		gap: 1em;

		img {
			width: 5em;
			padding: 0.3em;

			&:hover {
				border: 1px solid grey;
			}
		}
	}

	.description {
		text-align: justify;
		border-bottom: 1px solid black;
		width: min(65ch, 100%);
		padding: 2em 0;
	}

	.cart {
		flex-grow: 1;
		justify-content: flex-end;
		align-items: flex-end;
		display: flex;
	}

	@include media(m) {
		width: 90%;
		align-items: center;
	}
}

.similararticles {
	background-color: lightgrey;
	height: 20em;
	width: 70%;
	display: flex;
}

.clientreview {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap : 3em;

	.commentstitle {
		display: flex;
		justify-content: space-between;
		font-size: x-large;
	}

	@include media(m) {
		width: 100%;
	}
}

.mark {
	img {
		width: 1.5em;
	}

	.starvalid {
		filter: invert(1);
	}
} 

.comments {
	flex-direction: column;
	display: flex;
	gap: inherit;
	
	.comment {
		display: flex;
		flex-direction: column;
		gap: 1em;

		h3 {
			font-size: large;
		}

		.commenthead {
			display: flex;
			gap: 2em; 

			.commentdate {
				flex-grow:1 ;
				text-align: right;
			}
		}
	}
	
	.addcomment {
		align-self:flex-end ;
		font-size: x-large;
	}
}