@use "../abstracts" as *;
@use "../base" as *;

@use "../components/header";
@use "../components/footer";
@use "../components/product";

.banner {
	border-top: .4rem solid;
	border-bottom: .4rem solid;
	border-color: rgb(200, 200, 200);
	width: 100%;
	height: 50%;
}

.profile-container {
	align-items: flex-start;
	align-content: center;
	align-self: center;
	display: flex;
	margin-left: 5%;
	margin-right: 20%;

	.blockpp {
		background-color: #fff;
		display: flex;
		flex-direction: column;
		max-width: 150px;
		min-width: 130px;
		width: max-content;
		translate: 0 -3em;
		border-radius: 7px;

		.profilepic {
			border-radius: 7px;
			border: .2rem solid;
			border-color: rgb(200, 200, 200);
		}

		.name {
			font-size: 1.1em;
			width: fit-content;
			font-weight: bold;
		}

	}


	.texte {
		margin-left: 1em;
		min-width: 200px;

		h1 {
			font-size: xx-large;
		}

		.subscribe {
			flex-grow: 1;
			justify-content: flex-end;
			align-items: flex-end;
			display: flex;
			padding-right: 5%;
			margin-top: 0.5em;
			flex-direction: column;

			button {
				border: 1px solid rgb(0, 0, 0);
			}

		}

		p {
			text-align: justify;
			border-bottom: 1px solid black;
			width: min(100%, 100%);
			padding-bottom: 2em;
		}

		ul {
			margin-top: .5em;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			gap: 1em;

			li {
				a {
					padding: 5px;
					@include size(2.5em);
					display: block;
					border-radius: 8px;
					transition: background-color .3s ease;

					&:hover {
						background-color: var(--primary-2);
					}

					@include media(l) {
						@include size(2em);
						padding: 2px;
					}

					img {
						@include size;
					}
				}
			}
		}
	}
}

.products-container {
	margin: 0 2em;
	
	h2 {
		font-size: 1.5em;
	}

	.products-wrapper {
		margin: 2em 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 3em;
	}
}