@use "../abstracts" as *;
@use "../base" as *;

@use "../components/header";
@use "../components/footer";
@use "../components/nav-header";

main {    
    display: flex;
    flex-direction: column;
}

section.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    $gap : 1em;

    .body-support {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        gap: calc(2 * $gap);

        background-color: white;
        @include box-shadow(0px, 0px, 2px, 0px, .7);
        padding: calc(2 * $gap);

        h1 {
            font-size: 24px;
        }

        p {
            font-size: 16px;
            
            @include media(m) {
                text-align: justify;
            }
        }

        .types {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            gap : calc(2 * $gap);
            .support-type {
                display: flex;
                align-items: center;

                column-gap: $gap;

                @include size(25em, 5em);
                padding: $gap;
                background-color: var(--primary-1);
                border-radius: 4px;
                white-space: nowrap;

                img {
                    @include size(2em);
                }

                &:hover {
                    background-color: var(--primary-2);
                }
            }

            @include media(l) {
                justify-content: center;
            }
        }
    }

}