@use "../abstracts" as *;
@use "../base" as *;

@use "../components/header";
@use "../components/footer";
@use "../components/nav-header";

.settings {
	$gap: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: calc(2 * $gap);
	.security {
		max-width: 732px;

		gap: $gap;

		ul {
			display: flex;
			flex-direction: column;
			gap: $gap;

			.list-item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: $gap;

			}

			button.modify {
				background-color: var(--primary-1);
				border: none;
				border-radius: 5px;
				padding: $gap;
				cursor: pointer;

				text-align: center;

				&:hover {
					background-color: var(--primary-2);
				}
			}
		}
	}
}