@use "../abstracts" as *;
@use "../base" as *;

@use "../components/header";
@use "../components/footer";

.support {
	.info-wrapper {
		display: flex;
		justify-content: center;

		flex-wrap: wrap;
		column-gap: 2em;
		margin: 1em;

		.info {
			@include size(12em, 6em);
			display: flex;
			align-items: center;
			justify-content: center;
			
			border-radius: .4em;
			background-color: var(--primary-1);

			column-gap: 1em;
		}

	}

	.ticket{
		padding: 1em;
		table { 
			width: 100%;
			border-radius: .4em;
			background-color: var(--primary-1);
	
			.title td {
				font-weight: bold;
			}
	
			td {
				text-align: center;
				padding: .5em;
			}
		}
	}

}