@use "../abstracts" as *;
@use "../base" as *;

@use "../components/header";
@use "../components/footer";

main {
	background-color: var(--primary-1);
}

.support {
	font-size: .9em;
	$width: 15em; 
	$gap: 1em;

	.info-wrapper {
		display: flex;
		justify-content: center;

		flex-wrap: wrap;
		gap: calc(2 * $gap);
		margin: 1em 0em;

		.info {
			@include size($width, 6em);
			display: flex;
			align-items: center;
			justify-content: center;
			
			border-radius: .4em;
			background-color: var(--primary-);

			column-gap: $gap;
		}

	}

	.ticket{
		display: flex;
		justify-content: center;
		margin: $gap;
		overflow-x: auto;
		
		table { 
			@include size(calc(4 * ($width + 1.5em)), auto);
			border-radius: .4em;
	
			.title {
				td {
					font-weight: bold;
					white-space: nowrap;

					.caret-img {
						@include size(1em);
						margin: -8px 0px 0px 8px;
					}
				}
			}
	
			td {
				text-align: center;
				border: 0px 1px solid var(--primary-2);
				padding: $gap;
			}
		}

		@include media(m) {
			justify-content: flex-start;
		}
	}

}