@use "../abstracts" as *;
@use "../base" as *;

@use "../components/header";
@use "../components/footer";

main {
	background-color: var(--primary-1);
}

.support {
	font-size: .9em;
	$width: 15em; 
	$gap: 1em;

	.info-wrapper {
		display: flex;
		justify-content: center;

		flex-wrap: wrap;
		gap: calc(2 * $gap);
		margin: 1em 0em;

		.info {
			@include size($width, 6em);
			display: flex;
			align-items: center;
			justify-content: center;
			
			border-radius: .4em;
			background-color: var(--primary-);

			column-gap: $gap;
		}

	}

	.ticket{
		display: flex;
		justify-content: center;
		padding: 3em $gap ;
		margin: $gap;
		overflow-x: auto;

		
		table { 
			@include size(calc(4 * ($width + 1.5em)), auto);
			border-radius: .4em;
	
			.title {
				td {
					font-weight: bold;
					white-space: nowrap;

					.caret-img {
						@include size(1em);
						margin: -8px 0px 0px 8px;

						&:hover {
							cursor: pointer;
						}
					}
				}
			}
	
			td {
				text-align: center;
				border: 0px 1px solid var(--primary-2);
				padding: $gap;

				.dropdown {
					position: relative;

					.more-img:hover {
						cursor: pointer;
					}

					.more {
						position: absolute;
						z-index: 1;
						right: calc(2 * $gap);
						display: flex;
						flex-direction: column;
						border-radius: 2px;
						text-align: left;
						background-color: white;
						@include box-shadow(0, 1px, 4px, 1px, .2);
						transition: background-color .3s ease;
						
						&.hide {
							display: none;
							text-align: left;
		
							@include size(64px, auto);
		
						}

						a {
							padding: .2em .4em;

							&:hover {
								background-color: var(--primary-2);
							}
						}
					}
				}
			}
		}

		@include media(m) {
			justify-content: flex-start;
		}
	}

}