@use "../abstracts" as *;

tr {

	td {
		padding: 1em 3em;

		.item-wrapper {
			padding: 1em 0em;
			.img-cart {
				@include size(7em, auto);
			}
		}

		input#quantity {
			@include size(4em, auto);
			border: 1px solid black;
			border-radius: 2px;
		}

		&.price {
			white-space: nowrap;
		}

		a.name {
			text-decoration: underline;

			&:hover {
				color: var(--secondary-1);
			}
		}


		@include media(l) {
			padding: 1em 1em;
		}

		@include media(s) {
			padding: 1em .5em;

			.img-cart {
				display: none;
			}

		}

	}

}
