@use "../abstracts" as *;

.filter-container {
	padding-left: 3em;
	display: flex;
	gap: 2em;
	background-color: var(--primary-1);

	@include media(m) {
		padding: 0;
		justify-content: space-around;
		gap: 0;
	}

	.filter-item {
		display: flex;
		white-space: nowrap;
		font-size: .9em;

		> :is(a, button) {
			padding: 1.5em 2em;
		}
	}

	.dropdown {
		position: relative;
		display: flex;
		
		&:hover .dropdown-content {
			display: unset;
		}
		
		.dropdown-content {
			z-index: 1;
			position: absolute;
			top: 100%;
			right: 50%;
			translate: 50%;
			max-height: 185px;
			display: none;
			border-radius: 5px;
			background-color: var(--primary-1);
			@include box-shadow(0, 1px, 4px, 1px, .2);
			overflow: hidden auto;
			
			a {
				padding: 1em 3em 1em 2em;
				display: block;
				transition: background-color .3s ease;

				&:hover {
					background-color: var(--primary-2);
				}
			}
		}
	}
}
