@use "../abstracts" as *;

footer {
	display: flex;
	flex-direction: column;
	position: absolute;
	padding: 1em;
	bottom: 0;


	@include size(100%, auto);
	font-size: 0.9em;

	background-color: var(--primary-1);

	
	.footer-top {
		
		ul {
			display: flex;
			gap: 2em 1em;
			justify-content: space-between;

			@include media(s){
				flex-direction: column;
				text-align: center;
				li{
					text-align: center;
				}
			}
		}

		span{
			display: block;
			text-align: right;

			@include media(s){
				text-align: center;
			}
		}

	}

	.footer-bottom {
		padding-top: 3em;
		display: flex;
		flex-wrap: wrap;
		gap: 2em 1em;
		flex-direction: row-reverse;
		justify-content: space-between;

		@include media(m){
			justify-content: center;
		}

	}


	.footer-left {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		ul {
			display: flex;
			margin-bottom: 1em;
			
		}

		li {
			margin: 0 1em 0 auto;
		}

		@include media(m){
			p{
				text-align: center;
			}
		}

	}

	.footer-right {
		div {
			text-align: right;
		}

		label{
			display: block;
			text-align: center;
		}

		input#newsletter {
			margin-top: 1em;
			border-bottom: 1px solid #000;
			background-color: var(--primary-1);
			width: 13em;

			&:focus{
				outline: none;
			}
		}
	}

	.submit{
		background-color: var(--primary-1); 
		
		&:hover{
			background-color: var(--primary-2);
		}
	}

}

