@use "../abstracts" as *;

.form {

	label {
		color: black;
		font-size: 1em;
	}

	form {
		padding: 20px;
		background-color: var(--primary-1);
		border-radius: 15px;

		display: flex;
		flex-direction: column;

		input,
		textarea,
		select {
			margin: 8px 0;
			box-sizing: border-box;
			resize: none;
			padding: 0.75em;
			width: 100%;
			border-radius: 10px;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

			&.social-media {
				min-width: 100px;
			}
		}

		input[type="submit"] {
			background-color: var(--secondary-1);
			padding: .7em;
			color: hsl(0, 0%, 100%);
			border: none;
			border-radius: 10px;
			cursor: pointer;
		}

		input[type="submit"]:hover {
			background-color: var(--secondary-2);

		}
	}

	.input-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		column-gap: 1em;
	}
}