@use "../abstracts" as *;

header {
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.9em;
	background-color: var(--primary-1);

	.nav-item {
		display: flex;
		align-items: center;
	}

	li {
		margin: 0 1em;
		
		form {
			&.hide {
				display: none;
			}

			.search-form {
				display: flex;
			}
		}

		input#text-input {
			border-bottom: 1px solid #000;
			background-color: var(--primary-1);
			width: 8em;

			&:focus {
				outline: none;
			}
		}
	}

	.dropdown {
		position: relative;
		display: inline-block;

		.plus-btn{
			display: none;
			@include size(30px);

			background:
				linear-gradient(#000 0 0),
				linear-gradient(#000 0 0),
				var(--primary-1);
			background-position:center;
			background-size: 50% 1.5px,1.5px 50%; /*thickness = 2px, length = 50% (25px)*/
			background-repeat:no-repeat;

			@include media(l) {
				display: inline-block;
			}
		}

		.dropdown-content {
			height: 0px;
			overflow-y: hidden;
			position: absolute;
			background-color: var(--primary-1);
			min-width: 160px;
			z-index: 1;
			right: 0;
			transition: height .3s ease;

			@include box-shadow;

			li{
				margin: 0.5em;
			}
			a {
				color: black;
				text-decoration: none;
				padding: 0.5em 0px;
				display: block;

				&:is(:hover, :focus){
					background-color: #ddd;
				}
			}
		}

		&:is(:hover, :focus){
			.dropdown-content {
				height: 160px;
			}
		}
			
	}

	.logo{
		margin: 0 1em;
	}

	.right {
		justify-content: flex-end;
		
		@include media(l) {
			display: none;
		}
	}

	.left{
		@include media(l){
			flex-wrap: wrap;
			margin: 0.5em 1em;

		}
	}

	.submit{
		margin-left: 0.3em;
		background-color: var(--primary-1); 
		
		&:hover{
			background-color: var(--primary-2);
		}
	}
}

a.hover-link {
	white-space: nowrap;
	display: block;
	position: relative;
	overflow: hidden;

	@include pseudo($pos : auto auto 0 0) {
		@include size(100%, 0.1em);
		background-color: rgb(0, 0, 0);
		opacity: 1;
		transform: translate3d(-100%, 0, 0);
		transition: opacity 300ms, transform 300ms;
	}

	&:is(:hover, :focus)::after {
		transform: translate3d(0, 0, 0);
	}
}

.shift-left {
	overflow:hidden;
	animation: append-animate .3s linear;
}

.shift-right {
	overflow:hidden;
	animation: hide-animate .3s linear;
}


@keyframes append-animate {
	from {
		transform: translateX(29%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes hide-animate {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(29%);
		display: none;
	}
}